.title {
    font-size: 2.4rem;
    margin-bottom: 16px;
}

.form {
    display: flex;
    flex-wrap: wrap;
}
.right {
    margin-left: 100px;
}
.form-group {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
        color: gray;
        font-weight: 600;
        margin-bottom: 20px;
    }
    select {
        padding: 10px;
        outline: none;
    }
    input {
        border-bottom: 1px solid var(--gray-color);
        padding-bottom: 10px;
    }
    textarea {
        height: 60px;
        outline: none;
        border-bottom: 1px solid var(--gray-color);
    }
}
