.icon {
    color: red;
    font-size: 2.4rem;
    cursor: pointer;
}

.edit-icon {
    font-size: 2.2rem;
    color: gold;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.title {
    font-size: 2.4rem;
}