.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .title {
        font-size: 2.4rem;
    }
}

.show {
    padding: 20px;
    -webkit-box-shadow: 0px 0px 8px -1px #000000; 
    box-shadow: 0px 0px 8px -1px #000000;
    margin-bottom: 20px;

    .item {
        margin-bottom: 10px;

        label {
            display: inline-block;
            width: 80px;
        }
    }
}

.update {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 8px -1px #000000; 
    box-shadow: 0px 0px 8px -1px #000000;
}

.form {
    .form-group {
        margin-bottom: 20px;
        label {
            display: inline-block;
            width: 80px;
        }

        input, textarea {
            width: 500px;
            height: 60px;
            border-bottom: 1px solid gray;
        }
    }
}

.list-movies {
    display: flex;
    align-items: center;
    
    label {
        margin-right: 30px;
        font-weight: 600;
    }
}
